---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Projects</h3>
    {{ content }}
    <p><a href="{{ site.github.url }}/projects">View All Projects</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Other Links</h3>
    {% for link in site.data.settings.links %}
      <p><a href="{{ link.url }}">{{ link.title }}</a> - {{ link.description }}</p>
    {% endfor %}
  </div>
</div>
